{% extends "base.html" %}

  {% block content  %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div> <h2> Function Bassed View</h2></div>

      </div>
    <div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-4"> 
          <h1>Add Student</h1>
          <table class="table table-hover">
            <form action = "" enctype="multipart/form-data" method = "post">
            {% csrf_token %}
             {{form.as_p}}
            <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </table>
        </div>
        
        
        <div class="col-8">
          <p><h3> Student Details</h3></p>
          <table class="table table-hover">
            <thead>
              <tr class=col-sm-4>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Roll</th>
                <th scope="col">Photo</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% for f in all_data %}
              <tr >
                <th class="table-primary" scope="row">{{forloop.counter}}</th>
                <td>{{f.name}}</td>
                <td>{{f.cl}}</td>
                <td>{{f.roll}}</td>
                <td><p><img src="{{f.pro_img.url}}" height="100px"> </p></td>
                <td>
                  <form action = "{%url 'update_data' f.id %}"  method = "post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Update</button>
                  </form>
                  </td>
                <td>
                  <form action = "{%url 'delete' f.id %}"  method = "post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}